<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.bigdata.diet.mappers.CalorieMapper">
	 
	<select id="selectCalorieByAge" parameterType="int" resultType="Calorie">
		select minage,maxage,cal_man,h_man,w_man,cal_woman,h_woman,w_woman
		from calorie where ((minage &lt;= #{age}) and( maxage &gt;= #{age}));
	</select>
</mapper>