<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.bigdata.diet.mappers.MenuMapper">
	
	<select id="getMenu" resultType="menu" parameterType="int">
		select cal, carbo, con, cost, fat, grp, item, no, protein
		from menu where no = #{no};
	</select>

	<select id="selectAllMenu" resultType="menu" >
		select cal, carbo, con, cost, fat, grp, item, no, protein
		from menu ;
	</select>
	
	<insert id="insertMenuAuto" parameterType="menu" useGeneratedKeys="true" keyProperty="no">
		insert into menu(grp, item, cal, fat, carbo, protein, cost, con)
		values (#{grp}, #{item}, #{cal}, #{fat}, #{carbo}, #{protein}, #{cost}, #{con});
	</insert>
	
	<delete id="deleteMenu" parameterType="menu">
		delete from menu where item = #{item}
	</delete>

</mapper>